*.la
*.lo
*.o
*.pc
.deps/
.libs/
/aclocal.m4
/autom4te.cache/
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/doc/FLAC.tag
/doc/html/api/
/examples/c/decode/file/example_c_decode_file
/examples/c/decode/file/example_c_decode_file.exe
/examples/c/encode/file/example_c_encode_file
/examples/c/encode/file/example_c_encode_file.exe
/examples/cpp/decode/file/example_cpp_decode_file
/examples/cpp/decode/file/example_cpp_decode_file.exe
/examples/cpp/encode/file/example_cpp_encode_file
/examples/cpp/encode/file/example_cpp_encode_file.exe
/install-sh
/libtool
/libtool-disable-static
/ltmain.sh
/missing
/src/flac/flac
/src/flac/flac.exe
/src/metaflac/metaflac
/src/metaflac/metaflac.exe
/src/share/getopt/libgetopt.a
/src/test_grabbag/cuesheet/test_cuesheet
/src/test_grabbag/cuesheet/test_cuesheet.exe
/src/test_grabbag/picture/test_picture
/src/test_grabbag/picture/test_picture.exe
/src/test_libFLAC++/test_libFLAC++
/src/test_libFLAC++/test_libFLAC++.exe
/src/test_libFLAC/test_libFLAC
/src/test_libFLAC/test_libFLAC.exe
/src/test_seeking/test_seeking
/src/test_seeking/test_seeking.exe
/src/test_streams/test_streams
/src/test_streams/test_streams.exe
/stamp-h1
Makefile
Makefile.in
